body {
  color: #225577;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
  background-color: #D8E3BA;
}

.welcome {
  width: 50%;
  margin: 10px 25% 10px 25%;
  text-align: left;
}

.zmi-link, .smi-link {
  text-decoration: none;
  font-style: italic;
  font-size: 80%;
}

.title {
  margin: 0px 0px 50px 0px;
}

.title img {
  float: left;
  margin: 0px 25px 0px 0px;
}

.title h1 {
  padding: 30px 0px 30px 0px;
}

.zope {
  text-align: right;
}

.action {
  float: left;
}

.form-error, .field-error {
  color: red;
  font-weight: bold;
}
