<dtml-let last_modified="_.DateTime()-14"
          expires="_.DateTime()+7" >
<dtml-call "REQUEST.RESPONSE.setHeader( 'Content-Type', 'text/css' )">
<dtml-call "REQUEST.RESPONSE.setHeader( 'Last-Modified', last_modified.toZone('GMT').rfc822() )">
<dtml-call "REQUEST.RESPONSE.setHeader( 'Cache-Control', 'max-age=36000, must-revalidate' )">
<dtml-call "REQUEST.RESPONSE.setHeader( 'Expires', expires.toZone('GMT').rfc822() )" >
</dtml-let>

/* ________________ stylesheet for Silva 0.9 frontend _________________ */
/* _______ Silva customers can insert their own frontend styles _______ */

body {
  background : #e2e9eb;
}

h1, h2, h3, h4, h5 {
  color : #455885;
}

h6 {
  color : #676767;
}

/* highlighting index links */
/* keep this if you markup text with index elements, this overrides the highlighting in the edit tab */
a.index-element {
  background-color : transparent;
  text-decoration : none;
}
